{{>header }}

{{>navbar}}

<div class="container">
    <div class="row">
    <div class="col-8">
        <h1>Capitan America</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo ab, quasi maxime corrupti voluptatem provident laboriosam aliquam ipsam sunt dolorem sequi reprehenderit nostrum magni quos praesentium nihil expedita quo. Nesciunt.</p>
    </div>
    <div class="col-4">
        <img src="img/img.png" width="200px" class="img-thumbnail">

    </div>
</div>

</div>



{{>footer}}
